<div id="container">
  <img src="/assets/logo.png" id="logo">
  <h1>Coming Soon</h1>
  <%= form_tag('/subscribe', remote: true) do %>
    <%= email_field_tag "subscriber[email]", nil, placeholder: "Enter email to receive updates", required: true %>
    <%= submit_tag "Send" %>
  <% end %>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/vegas.min.js"></script>
<script src="js/main.js"></script>
