<div id="container">
  <img src="/assets/logo.png" id="logo">
  <h1>Coming Soon</h1>
  <form action="" method="">
    <input type="email" name="" placeholder="Enter email to receive updates" required>
    <input type="submit" name="" value="send">
  </form>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/vegas.min.js"></script>
<script src="js/main.js"></script>
