# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f133f9789adda3d2b6523626f940ecaf1995d69eabeaa3782110ac77651185e026a88d7941d3048b59efa25834ee93bb6f184b2a50fc37b3447c33422f662e4f

test:
  secret_key_base: 586b619e19d0986e4201ec755f8c315798dc9fcd80d44d84dd19c213e1032e10f4e2d2ba31210d8bbac236c5344c1862a821fd24382627abd6a08b6c9dcd7250

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
