# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 214aa0e97253435068b7cd2b0df05cbd16a606e398fe354affc10146c849b1823cd019805d30f21869b4ecad1326e0f804835152f80d95c1919aa3dcb4d62602
  database:
    :name: comingsoondev
    :username: root
    :password: 1234

test:
  secret_key_base: bea2cf11e403f9aad7c88cd006c907ad4e0932bf3068c1269da8efeb5d0ec3a0c80af78820d959588facd997346ce947c08099aecf3152ae35567a4d092ce22d
  database:
    :name: comingsoontest
    :username: root
    :password: 1234
