<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We have a new subscriber from Stylemyle Coming soon page,<br />
      <br />
      the user email is: <%= @subscriber.email %>
    </p>
  </body>
</html>
